<div class="entity-child">
  <div class="entity-field">
    <%= f.label :space_time_id, 'Origin SpaceTime' %>
    <%= f.collection_select :space_time_id, space_times, :id, :name %>
  </div>
  <div class="entity-field">
    <%= f.label :initial_location_id, 'Initial Location' %>
    <%= f.select :initial_location_id, locations %>
  </div>
</div>
