<h1>Homestuck Maps > <%= link_to 'Things', things_path %></h1>
<fieldset class="entity-form">
  <legend>Edit Thing</legend>
  <%= render partial: 'editor', locals: {thing: @thing, space_times: @space_times} %>
</fieldset>

