<h1>Homestuck Maps > <%= link_to 'Editor', edit_map_path %> > <%= link_to 'Things', things_path %></h1>
<%= link_to 'Add New Thing', new_thing_path %>
<ul>
  <% @things.each do |thing| %>
    <li><%= link_to thing.name, thing %></li>
  <% end %>
</ul>
