<div class="entity-field">
  <label>Details</label>
  <ul>
    <% @event.sub_events.each do |x| %>
      <li><%= x.description %></li>
    <% end %>
  </ul>
</div>
<div class="entity-field">
  <label>Experienced By</label>
  <ul class="event-experiences">
    <% @event.experiences.each do |x| %>
      <li>
        <%= render x %>
      </li>
    <% end %>
  </ul>
</div>
