body, html {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: verdana, sans-serif;
}

header {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid black;
  background-color: white;
}

h1 {
  margin: 5px;
  font-size: 32px;
}

.content {
  padding-top: 50px;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.popover-container {
  position: relative;
}
