<%= link_to 'Add New Time Label', new_time_label_path %>
<ul>
  <% @time_labels.each do |time_label| %>
    <li>
      <%= time_label.space_time.name %> -
      <%= time_label.sequence_index %> -
      <%= link_to time_label.description, time_label %>
    </li>
  <% end %>
</ul>
