<h2>Time Label</h2>
<%= link_to 'Edit', edit_time_label_path(@time_label) %>

<div class="entity-field">
  <label>SpaceTime</label>
  <span class="entity-field-value"><%= @time_label.space_time.name %></span>
</div>
<div class="entity-field">
  <label>Sequence Index</label>
  <span class="entity-field-value"><%= @time_label.sequence_index %></span>
</div>
<div class="entity-field">
  <label>Description</label>
  <span class="entity-field-value"><%= @time_label.description %></span>
</div>
