<%= link_to 'Add New Time Point', new_timeline_point_path %>
<ul>
  <% @timelines.values.each do |timeline| %>
    <li>
      <%= describe(timeline.first.thing_instance) %>
      <ul>
        <% timeline.each do |point| %>
          <li><%= link_to describe(point), point %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
