<ul>
  <li><%= link_to 'Events', events_path %></li>
  <li><%= link_to 'SpaceTimes', space_times_path %></li>
  <li><%= link_to 'Things', things_path %></li>
  <li><%= link_to 'Time  Points', time_points_path %></li>
</ul>

