// Place all the styles related to the thing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.thing-color-sample {
  display: inline-block;
  border: solid 1px black;
  width: 14px;
  height: 14px;
}
